.weather-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h2 {
    font-size: 2rem;   
}

.weather-info {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 90px;
        height: 90px;        
        }
}

.temperature {
    font-weight: bold;
    font-size: 3rem;
}


.description {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.details {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}



@media (max-width: 600px) {
    .weather-info {
        flex-direction: column; /* Empilha os itens verticalmente */
        text-align: center;
    }

    .weather-info img {
        width: 70px; /* Reduz um pouco o tamanho da imagem */
        height: 70px;
    }
}


